/* Define your CSS styles here */
/* Remember to validate your CSS at https://jigsaw.w3.org/css-validator/ */

div#kconteiner {
	margin: 100px auto;
	width: 1000px;
	height: 1000px;
}

body{
  background-color: #bab8b6; 
}

.keyboard {
    text-align: center;
    font-size: 14px;
    font-family: sans-serif;
}

.keyboard__row {
    display: inline-block;
    height: 3em;
    margin: 1px;
}

.keyboard__row > * {
    position: relative;
    background: #000000;
    text-align: center;
    color: #eee;
    border: 1px solid #e61010;
    float: left;
    border-radius: 0.3em;
    margin: 0.1em;
    padding: 0.2em;
    width: 3.3em;
    height: 100%;
    font-weight: bold;
    box-sizing: border-box;
    cursor: pointer;
    border-bottom-color: #555;
}

.keyboard__row > div[data-pressed],
.keyboard__row > div:active {
    background: #2a2a2a;
    color: #aaa;
    position: relative;
    top: 0.2em;
    box-shadow: 0 0 0 0.05em black;
}

.accept {
    background: #e61010;
    width: 4.6em;
}

.cancel {
    background: #e61010;
    width: 4.6em;
}

.bksp {
    width: 5em;
}

.tab {
    width: 5em;
}

.enter {
    background: #e61010;
    width: 6.5em;
}

.shift {
    background: #e61010;
    width: 8.3em;
}

.space {
    width: 30em;
}

.letter {
    line-height: 2.8em;
}

.keyboard > .keyboard__row {
    text-align: center;
}
